<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bangkit.ocr_c22_ky03">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />



    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OCR_C22KY03">
        <activity
            android:name=".module.authentication.RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".module.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".module.selfie.SelfieActivity"
            android:exported="false" />
        <activity
            android:name=".module.history.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".module.ktp.ScanActivity"
            android:exported="false" />
        <activity
            android:name=".module.form.FormActivity"
            android:exported="false" />
        <activity
            android:name=".module.detail.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".module.ktp.KtpActivity"
            android:exported="false" />
        <activity
            android:name=".module.selfie.TakeSelfieActivity"
            android:exported="false" />
        <activity
            android:name=".module.authentication.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>

</manifest>